<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bookcase</title>
</head>
<body>
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
<script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
<script src="https://cdn.bootcss.com/element-ui/2.11.1/index.js"></script>
<link href="https://cdn.bootcss.com/element-ui/2.11.1/theme-chalk/index.css" rel="stylesheet">
<div id="app">
    <Library active_name="Reading"/>
</div>
<script>
    const book_info = {}
    $.getJSON("bookinfo.json", data => $.each(data, (title, book) => Vue.set(book_info, title, book)))

    const status = ["Waiting", "Reading", "Read"]
    const status_trans = {"Waiting": "待读", "Reading": "正读", "Read": "已读"}
    const active_name = "Reading"

    new Vue({
        el: "#app",
        components: {
            Library: {
                props: ["active_name"],
                data() {
                    return {status_trans}
                },
                template: `
                    <div>
                        <el-tabs v-model="active_name" type="border-card">
                            <el-tab-pane v-for="(trans, status) in status_trans" :label="trans" :name="status">
                                <Bookcase :status="status"/>
                            </el-tab-pane>
                        </el-tabs>
                        <el-card>
                            <el-button type="primary" icon="el-icon-plus" size="small" circle/>
                            <el-button type="success" icon="el-icon-check" size="small" circle/>
                        </el-card>
                    </div>
                `,
                components: {
                    Bookcase: {
                        props: ["status"],
                        data() {
                            return {book_info}
                        },
                        template: `
                            <el-collapse>
                                <el-collapse-item
                                    v-for="(book, title) in book_info" v-if="book.status===status" :key="book.title">
                                    <template slot="title"><el-tag>「 {{title}} 」</el-tag></template>
                                    <Book :book="book"/>
                                </el-collapse-item>
                            </el-collapse>
                        `,
                        components: {
                            Book: {
                                props: ["book"],
                                methods: {
                                    edit: (title) => {
                                        //TODO
                                        console.log("edit " + title)
                                    },
                                    remove: (title) => {
                                        Vue.delete(book_info, title)
                                    },
                                },
                                template: `
                                    <el-card>
                                        <div>
                                            <el-tag>作者</el-tag>
                                            <el-tag type="info">{{book.author ? book.author : Unknown}}</el-tag>
                                        </div>
                                        <div>
                                            <el-tag>进度</el-tag>
                                            <el-progress v-if="book.progress"
                                                         style="width: 350px;display:inline-block"
                                                         :percentage="book.progress"/>
                                            <el-progress v-else
                                                         style="width: 350px;display:inline-block"
                                                         :percentage="book.status==='Read'? 100 : 0"/>
                                        </div>
                                        <div v-if="book.URL">
                                            <el-tag>链接</el-tag>
                                            <el-link :href="book.URL" type="primary">{{book.URL}}</el-link>
                                        </div>
                                        <div>
                                            <el-tag>操作</el-tag>
                                            <el-button type="primary" size="mini" icon="el-icon-edit"
                                                       @click="edit(book.title)" circle/>
                                            <el-button type="danger" size="mini" icon="el-icon-delete"
                                                       @click="remove(book.title)" circle/>
                                        </div>
                                    </el-card>
                                `
                            }
                        }
                    }
                }
            }
        }
    })

    //for parent web
    //to adjust the height of iframe
    if (window.top !== window) {
        document.domain = "rainbowyang.moe" // for cross origin
        let el = document.body
        let append = 30
        let lastHeight = el.scrollHeight
        window.setInterval(() => {
            if (lastHeight !== el.scrollHeight) {
                lastHeight = el.scrollHeight
                window.top.document.getElementById("bookcase").height = lastHeight + append
            }
        }, 20)
    }
</script>
</body>
</html>