<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bookcase</title>
</head>
<body>
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
<script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
<script src="https://cdn.bootcss.com/element-ui/2.11.1/index.js"></script>
<link href="https://cdn.bootcss.com/element-ui/2.11.1/theme-chalk/index.css" rel="stylesheet">
<bookcase id="bookcase" active_name="Reading"></bookcase>
<script>
    'use strict'
    let books = {}
    $.getJSON("bookinfo.json", data => $.each(data, (title, book) => Vue.set(books, title, book)))

    let vm = new Vue({
            el: '#bookcase',
            components: {
                bookcase: {
                    props: ["active_name"],
                    data: () => {
                        return {
                            status_trans: {
                                "Waiting": "待读",
                                "Reading": "正读",
                                "Read": "已读"
                            }
                        }
                    },
                    template: `
                        <el-tabs v-model="active_name">
                            <el-tab-pane v-for="(trans, status) in status_trans" :label="trans" :name="status">
                                <books :status="status"/>
                                <el-tooltip effect="dark" content="添加" placement="bottom-start">
                                    <el-button type="primary" icon="el-icon-plus" size="small" circle/>
                                </el-tooltip>
                                <el-tooltip effect="dark" content="保存" placement="bottom-start">
                                    <el-button type="success" icon="el-icon-check" size="small" circle/>
                                </el-tooltip>
                            </el-tab-pane>
                        </el-tabs>
                    `,
                    components: {
                        books: {
                            props: ['status'],
                            data: () => {
                                return {
                                    books
                                }
                            },
                            methods: {
                                remove: (title) => {
                                    Vue.delete(books, title)
                                },
                            },
                            template: `
                                <el-collapse>
                                    <el-collapse-item v-for="(book, title) in books" v-if="book.status==status">
                                        <template slot="title">
                                            <el-tag>「 {{title}} 」</el-tag>
                                        </template>
                                        <div>
                                            <el-tag>作者</el-tag>
                                            <el-tag v-if="book.author" type="info">{{book.author}}</el-tag>
                                            <el-tag v-else type="info">Unknown</el-tag>
                                        </div>
                                        <div>
                                            <el-tag>进度</el-tag>
                                            <el-progress v-if="book.progress"
                                                         style="width: 350px;display:inline-block"
                                                         :percentage="book.progress"/>
                                            <el-progress v-else
                                                         style="width: 350px;display:inline-block"
                                                         :percentage="book.status=='Read'? 100 : 0"/>
                                        </div>
                                        <div v-if="book.URL">
                                            <el-tag>链接</el-tag>
                                            <el-link :href="book.URL" type="primary">{{book.URL}}</el-link>
                                        </div>
                                        <div>
                                            <el-tag>操作</el-tag>
                                            <el-button type="primary" size="mini" icon="el-icon-edit" circle/>
                                            <el-button type="danger" size="mini" icon="el-icon-delete" circle
                                                       v-on:click="remove(title)"/>
                                        </div>
                                    </el-collapse-item>
                                </el-collapse>
                            `
                        }
                    }
                }
            }
        }
    )

    //for parent web
    //to adjust the height of iframe
    if (window.top !== window) {
        document.domain = "rainbowyang.moe" // for cross origin
        let el = document.body
        let lastHeight = el.scrollHeight
        window.setInterval(() => {
            if (lastHeight !== el.scrollHeight) {
                lastHeight = el.scrollHeight
                window.top.document.getElementById("bookcase").height = lastHeight
            }
        }, 20)
    }
</script>
</body>
</html>